$success: #32a852;
$danger: #ef4f5f;
$primary: #263e58;
$primary-tilt: #263e58cc;
$secondary: #f1f2f7;
$text-color: #121212;
$hover-background-color: #263e581a;
$transparent-back: #1a263194;

@mixin flex($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flexDirection($direction: row) {
  flex-direction: $direction;
}

@mixin flexWrap($wrap: no-wrap) {
  flex-wrap: $wrap;
}

@mixin Button {
  border-radius: 100px;
  padding: 0 0.9rem;
  text-align: center;
  cursor: pointer;
}

@mixin ToolkitButtonOutline {
  @include Button();
  border: 0.1rem solid #1a2631;
  background-color: #fff;
  color: $text-color;
}

@mixin ToolkitButtonPrimary {
  @include Button();
  border: 0.1rem solid $primary;
  color: #fff;
  background-color: $primary;
}

@mixin ToolkitCard($width: 300px, $height: 100%) {
  @include flex(center, flex-start);
  @include flexDirection(column);
  border-radius: 16px;
  width: $width;
  height: $height;
  padding: 1.5rem;
  background-color: #fff;
  overflow-x: hidden;
  border: 0.15rem solid $secondary;
}

@mixin ToolkitBackDrop {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: $transparent-back;
  backdrop-filter: blur(4px);
}

@mixin pill($background-color: $hover-background-color) {
  background-color: default.$hover-background-color;
  border-radius: 10px;
  padding: 0.5rem;
}