@use "../Components.scss" as default;

.view-layout {
  display: grid;
  grid-template-areas:
    "header header . . ."
    "content content . . ."
    "footer footer . . .";
  grid-template-rows: 50px auto 50px;
  row-gap: 1rem;
  height: 100%;
  .header {
    grid-area: header;
    background-color: default.$secondary;
    grid-column: 1 / 12;
    padding: 1rem;
    @include default.flex(flex-start);

    .logo {
      font-size: 1.5rem;
      text-align: left;
      color: default.$primary;
      font-weight: bolder;
      letter-spacing: 1.1px;
    }
  }
  .footer {
    grid-area: footer;
    background-color: default.$secondary;
    grid-column: 1 / 12;
    padding: 1rem;
    @include default.flex(space-between, center);
    user-select: none;
    gap: 4px;
    .text {
      color: default.$text-color;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .main-content {
    width: 90vw;
    padding: 2rem;
    margin: auto;
    max-height: 90vh;
    overflow: hidden auto;
    grid-area: content;
    grid-column: 1 / 12;
  }
}
